<h3>Current install</h3>

<dl><dt>UI version</dt><dd>{{ uiVersion }}</dd></dl>
<dl><dt>Index version</dt><dd>{{ indexVersion }}</dd></dl>
<dl><dt>Sentinel version</dt><dd>{{ sentinelVersion }}</dd></dl>

<h3>General info</h3>
<p>Vault is an open-source project hosted on <a href="http://github.com/stevearm/vault">GitHub</a>. Special thanks to the following projects for their work that Vault is based on:
    <ul>
        <li><a href="http://couchdb.apache.org">Apache CouchDB</a></li>
        <li><a href="http://angularjs.org">AngularJS</a></li>
        <li><a href="http://getbootstrap.com">Bootstrap</a></li>
        <li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
        <li><a href="http://glyphicons.com/">Glyphicons</a> (excellent icons)</li>
    </ul>
</p>
