<h3>Current install</h3>

<p><strong>UI</strong> version {{ uiVersion }}</p>
<p><strong>DB</strong> version {{ indexVersion }}</p>
<p>
    <strong>Sentinel</strong>
    <span ng-show="sentinelVersion">
        version {{ sentinelVersion }}
        (last run
            <span ng-show="sentinelRun">{{ sentinelRun|date:'yyyy-MM-dd h:mm a' }}</span>
            <span ng-hide="sentinelRun">never</span>
        )
    </span>
    <span ng-hide="sentinelVersion">not install</span>
</p>
<p>
    Install is
    <span class="text-success" ng-show="validInstall">valid</span>
    <span class="text-danger" ng-hide="validInstall">broken</span>
    <a href="install.html">Details</a>
</p>

<h3>General info</h3>
<p>Vault is an open-source project hosted on <a href="http://github.com/stevearm/vault">GitHub</a>. Special thanks to the following projects for their work that Vault is based on:
    <ul>
        <li><a href="http://couchdb.apache.org">Apache CouchDB</a></li>
        <li><a href="http://angularjs.org">AngularJS</a></li>
        <li><a href="http://getbootstrap.com">Bootstrap</a></li>
        <li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
        <li><a href="http://glyphicons.com/">Glyphicons</a> (excellent icons)</li>
    </ul>
</p>
