<h3>Current install</h3>

<p><strong>UI</strong> version {{ uiVersion }}</p>
<p><strong>DB</strong> version {{ indexVersion }}</p>
<p>
    <strong>Sentinel</strong>
    version {{ sentinelVersion }}
    <span ng-show="sentinelRun">(last run {{ sentinelRun|date:'yyyy-MM-dd h:mm a' }})</span>
</p>

<h3>General info</h3>
<p>Vault is an open-source project hosted on <a href="http://github.com/stevearm/vault">GitHub</a>. Special thanks to the following projects for their work that Vault is based on:
    <ul>
        <li><a href="http://couchdb.apache.org">Apache CouchDB</a></li>
        <li><a href="http://angularjs.org">AngularJS</a></li>
        <li><a href="http://getbootstrap.com">Bootstrap</a></li>
        <li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
        <li><a href="http://glyphicons.com/">Glyphicons</a> (excellent icons)</li>
    </ul>
</p>
