<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" ng-model="vault._id" ng-hide="vault._rev"/>
                <p class="form-control-static" ng-show="vault._rev">{{ vault._id }}</p>
            </div>
            <div class="form-group">
                <label>Vault name</label>
                <input type="text" class="form-control" ng-model="vault.name"/>
            </div>
            <div class="form-group">
                <label>Addressable</label>
                <button class="btn btn-default" ng-show="vault.addressable" ng-click="toggleAddressable()">Set non-addressable</button>
                <button class="btn btn-default" ng-hide="vault.addressable" ng-click="toggleAddressable()">Set addressable</button>
            </div>
            <div class="form-group" ng-show="vault.addressable">
                <label>Host</label>
                <input type="text" class="form-control" ng-model="vault.addressable.host"/>
            </div>
            <div class="form-group" ng-show="vault.addressable">
                <label>Port</label>
                <input type="text" class="form-control" ng-model="vault.addressable.port"/>
            </div>
            <div class="form-group" ng-show="vault.addressable">
                <label>Priority</label>
                <input type="text" class="form-control" ng-model="vault.addressable.priority"/>
            </div>
            <div class="form-group" ng-show="vault.addressable">
                <label>Enabled</label>
                <button class="btn btn-default" ng-click="vault.addressable.enabled = !vault.addressable.enabled">
                    {{ vault.addressable.enabled }}
                </button>
            </div>
            <div class="form-group">
                <label>Signature</label>
                <textarea json class="form-control" ng-model="vault.signature"></textarea>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="vault.username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" ng-model="vault.password"/>
            </div>
            <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="delete()">Delete</button>
            <button class="btn btn-default" ng-show="vault._id" ng-click="setAsCurrent()">Set this vault as current</button>
        </form>
    </div>
</div>
