<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Priority</th>
            <th>Host</th>
            <th>Enabled</th>
            <th>Signature</th>
            <th>Sentinel</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="vault in vaults | orderBy:'priority()':true">
            <td>
                <span ng-show="vault._id == $parent.currentVaultId" style="color: darkgoldenrod"><i class="glyphicon glyphicon-star"></i></span>
                <span ng-hide="vault._id == $parent.currentVaultId"><i class="glyphicon glyphicon-star-empty"></i></span>
            </td>
            <td><a href="#/vault/{{ vault._id }}">{{ vault.name }}</a></td>
            <td>
                <span ng-hide="vault.addressable">N/A</span>
                <span ng-show="vault.addressable">#{{ vault.addressable.priority }}</span>
            </td>
            <td>
                <span ng-hide="vault.addressable">N/A</span>
                <span ng-show="vault.addressable">
                    <a href="http://{{ vault.addressable.host }}:{{ vault.addressable.port }}/vault/_design/ui/index.html">
                        {{ vault.addressable.host }}:{{ vault.addressable.port }}
                    <i class="glyphicon glyphicon-new-window"></i>
                    </a>
                </span>
            </td>
            <td>
                <span ng-show="vault.enabled()" style="color: green"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-hide="vault.enabled()"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td>{{ cappedStringify(vault.signature, 30) }}</td>
            <td>{{ vault.sentinel || "None" }}</td>
        </tr>
    </tbody>
</table>
<a href="#/vault" class="btn btn-default">Add vault</a>
