<configuration>
	<!-- Add scan="true" and scanPeriod="30 seconds" to the configuration element above if desired -->

	<!-- Uncomment this appender and the entry at the bottom to add file logging. -->
	<!--
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>C:\Vault\vault.log</file>
		<append>true</append>
		<encoder><pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern></encoder>
	</appender>
	-->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- Even if you turn on file logging, and turn general logging down to debug,
			     console should probably stay at WARN to keep CouchDB's logs clean -->
			<level>WARN</level>
		</filter>
		<encoder><pattern>%d %-5level [%thread] %logger{35} - %msg%n</pattern></encoder>
	</appender>

	<!-- Levels are OFF, ERROR, WARN, INFO, DEBUG, TRACE, ALL -->
	<logger name="org.eclipse.jetty" level="WARN"/>
	<logger name="org.lightcouch" level="WARN" />
	<logger name="org.apache.http" level="WARN" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>
